* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --black: #323337;
  --white-light: #F9F8F4;
  --white-dark: #E4E0DD;
  --gold: #CD9B4A;
  --blue-dark: #092A3A;
  --blue-light: #125474;
}

body {
  position: relative;
  font-family: "Open Sans", sans-serif;
  background-color: var(--white-dark);
}

.modal-nav__background.move-x {
  transform: translateX(0);
}

.search-screen__background.d-flex {
  display: flex;
}

.main {
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
}
.main__grid {
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
}

.header {
  background: url(../../assets/bg-black.jpg);
  background-size: cover;
  padding: 20px 0;
}
.header__container {
  margin: 0 auto;
  width: 95%;
  max-width: 1250px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__menu {
  color: var(--white-light);
  font-size: 30px;
}
@media (min-width: 640px) {
  .header__menu {
    display: none;
  }
}
.header__logo {
  width: 60px;
}
.header__logo__container {
  display: flex;
  align-items: center;
  gap: 15px;
}
.header__logo__text {
  color: var(--white-light);
  font-weight: 700;
  font-size: 30px;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
}
@media (max-width: 640px) {
  .header__logo {
    width: 40px;
  }
  .header__logo__text {
    font-size: 20px;
  }
}

.root {
  background: url(../../../assets/bg-black.jpg);
}

.nav {
  display: flex;
  gap: 25px;
}
.nav__link {
  text-decoration: none;
  color: var(--white-light);
  display: flex;
  align-items: center;
}
.nav__link span {
  font-weight: 600;
  font-size: 20px;
  transition: color 200ms ease-in-out;
}
.nav__link span:hover {
  color: var(--white-dark);
}
.nav__icon {
  width: 30px;
}
@media (max-width: 640px) {
  .nav {
    display: none;
  }
}

.modal-nav {
  width: 260px;
  height: 100%;
  margin-left: auto;
  background: url(../../assets/bg-black.jpg);
  background-size: cover;
  padding: 20px;
}
.modal-nav__background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  transform: translateX(100%);
  transition: transform 200ms ease-in-out;
}
.modal-nav__close {
  display: flex;
  justify-content: right;
  font-size: 30px;
  text-align: left;
  color: var(--white-dark);
  margin-bottom: 20px;
}
.modal-nav__close:hover {
  color: var(--gold);
}
.modal-nav__items {
  display: flex;
  flex-direction: column;
  align-items: end;
  gap: 15px;
}
.modal-nav__link {
  font-size: 18px;
  display: flex;
  align-items: center;
  gap: 5px;
  text-decoration: none;
  color: var(--white-dark);
}
.modal-nav__search {
  display: flex;
  width: 100%;
  position: relative;
}
.modal-nav__input {
  border-radius: 3px;
  width: 100%;
  background-color: var(--white-dark);
  border: none;
  outline: none;
  padding: 8px;
  font-size: 16px;
}
.modal-nav__btn {
  position: absolute;
  right: 5px;
  height: 100%;
  display: flex;
  align-items: center;
  border: none;
  outline: none;
  background-color: transparent;
}

.search-screen__background {
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.7);
  justify-content: center;
  align-items: center;
}
.search-screen__form {
  display: flex;
}
.search-screen__input {
  border: none;
  outline: none;
  padding: 5px;
  font-size: 20px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.search-screen__btn {
  border: none;
  outline: none;
  background-color: var(--gold);
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  padding: 5px;
  cursor: pointer;
}
.search-screen__btn img {
  width: 30px;
}

.section {
  padding: 5px;
  width: 100%;
  margin-bottom: 70px;
}
.section__title {
  font-size: 40px;
  text-transform: uppercase;
  font-weight: 700;
  letter-spacing: -1px;
  color: var(--blue-light);
  display: flex;
  align-items: center;
  margin-bottom: 15px;
}
@media (max-width: 640px) {
  .section__title {
    font-size: 30px;
  }
}
.section__line {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.section__line span {
  height: 0.5px;
  width: 90%;
  background-color: var(--blue-light);
}

.card {
  border-radius: 3px;
  overflow: hidden;
}
.card__container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(230px, 1fr));
  gap: 15px;
}
@media (max-width: 640px) {
  .card__container {
    padding: 5px;
    grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
  }
}
.card .card__img {
  width: 100%;
  outline: 1px solid var(--white-light);
  outline-offset: -10px;
}
.card .card__text {
  background-color: var(--white-light);
  margin-top: -5px;
  height: 100%;
  padding-bottom: 5px;
}
.card .card__title {
  display: block;
  position: relative;
  background-color: var(--white-light);
  text-decoration: none;
  width: 85%;
  margin: 0 auto 0;
  text-align: center;
  padding: 10px;
  border-radius: 3px;
  transform: translateY(-50%);
  font-size: 18px;
  text-decoration: none;
  font-weight: 600;
  color: var(--blue-light);
  transition: all 200ms ease-in-out;
}
.card .card__title:hover {
  color: var(--blue-dark);
  background-color: var(--white-dark);
}
@media (max-width: 640px) {
  .card .card__title {
    font-size: 15px;
  }
}
.card__icon {
  text-align: center;
  padding-bottom: 5px;
}
.card__icon img {
  width: 30px;
}

.post-card {
  grid-column: 1/-1;
  margin-bottom: 80px;
}
@media (min-width: 900px) {
  .post-card {
    grid-column: 1/10;
  }
}
.post-card__img {
  max-width: 100%;
}

.recommended-card {
  grid-column: 1/-1;
  width: 80%;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  gap: 10px;
}
@media (min-width: 450px) {
  .recommended-card {
    margin: initial;
    width: 100%;
    flex-direction: row;
  }
}
@media (min-width: 900px) {
  .recommended-card {
    grid-column: 11/13;
    flex-direction: column;
  }
}

/*# sourceMappingURL=main.css.map */
